(gnome ready (and
        (gnome shortcuts)
        (gnome command shortcuts)
        (gnome wm settings)
        (gnome folders)
        (gnome terminal)
        (gnome terminal solarized light)))

(gnome shortcuts
   (and (gsettings "org.gnome.desktop.wm.keybindings" "activate-window-menu" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "always-on-top" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "begin-move" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "begin-resize" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "cycle-group" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "cycle-group-backward" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "cycle-panels-backward" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "cycle-panels" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "cycle-windows" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "cycle-windows-backward" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "lower" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "maximize-horizontally" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "maximize" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "maximize-vertically" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "minimize" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-center" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-corner-ne" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-corner-nw" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-corner-se" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-corner-sw" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-monitor-down" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-monitor-left" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-monitor-right" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-monitor-up" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-side-e" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-side-n" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-side-s" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-side-w" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-1" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-2" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-3" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-4" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-5" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-6" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-7" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-8" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-9" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-10" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-11" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-12" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-last" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-left" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-right" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "panel-main-menu" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "raise" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "raise-or-lower" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "set-spew-mark" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "show-desktop" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-1" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-2" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-3" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-4" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-5" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-6" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-7" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-8" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-9" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-10" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-11" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-12" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-last" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-left" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-right" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-windows" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-windows-backward" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "toggle-fullscreen" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "toggle-on-all-workspaces" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "toggle-shaded" "@as []")
        (gsettings "org.gnome.desktop.wm.keybindings" "unmaximize" "@as []")

        (gsettings "org.gnome.desktop.wm.keybindings" "panel-run-dialog" "['<Alt>F2']")
        (gsettings "org.gnome.desktop.wm.keybindings" "toggle-maximized" "['<Alt>F3']")
        (gsettings "org.gnome.desktop.wm.keybindings" "close" "['<Alt>F4']")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-group" "['<Super>Above_Tab', '<Alt>Above_Tab']")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-group-backward" "['<Shift><Super>Above_Tab', '<Shift><Alt>Above_Tab']")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-panels" "['<Control><Alt>Tab']")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-panels-backward" "['<Shift><Control><Alt>Tab']")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-applications-backward" "['<Shift><Super>Tab', '<Shift><Alt>Tab']")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-applications" "['<Super>Tab', '<Alt>Tab']")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-input-source-backward" "['<Shift><Super>space']")
        (gsettings "org.gnome.desktop.wm.keybindings" "switch-input-source" "['<Super>space']")
        (gsettings "org.gnome.desktop.wm.keybindings" "toggle-above" "['<Super>T']")
       	(gsettings "org.gnome.settings-daemon.plugins.media-keys" "calculator" "'<Primary>F3'")
       	(gsettings "org.gnome.settings-daemon.plugins.media-keys" "home" "'<Primary>F1'")

        (or (and (hostname "horst")
                 (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-up" "['<Super>Up']")
                 (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-down" "['<Super>Down']")
                 (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-down" "['<Primary><Super>Down']")
                 (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-up" "['<Primary><Super>Up']"))
            (and (hostname "josephine")
                 (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-up" "['<Alt>Left']")
                 (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-down" "['<Alt>Right']")
                 (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-down" "['<Primary><Alt>Right']")
                 (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-up" "['<Primary><Alt>Left']"))
            (and (hostname "clementine")
                 (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-up" "['Back']")
                 (gsettings "org.gnome.desktop.wm.keybindings" "switch-to-workspace-down" "['Forward']")
                 (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-down" "['<Primary>Forward']")
                 (gsettings "org.gnome.desktop.wm.keybindings" "move-to-workspace-up" "['<Primary>Back']")))))


(gnome command shortcuts
   (and (dconf "gnome-shortcuts.dconf")))

(gnome wm settings
   (and (gsettings "org.gnome.desktop.wm.preferences" "focus-mode" "'sloppy'")
        (gsettings "org.gnome.desktop.wm.preferences" "raise-on-click" "true")
        (gsettings "org.gnome.desktop.wm.preferences" "resize-with-right-button" "true")
        (gsettings "org.gnome.desktop.wm.preferences" "mouse-button-modifier" "'<Alt>'")))

(gnome terminal
   (and (gsettings "org.gnome.Terminal.Legacy.Settings" "menu-accelerator-enabled" "false")
        (gsettings "org.gnome.Terminal.Legacy.Settings" "default-show-menubar" "false")
        (gsettings "org.gnome.desktop.interface" "monospace-font-name" "Liberation Mono 10")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "close-tab" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "close-window" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "copy" "<Ctrl><Shift>c")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "detach-tab" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "find" "<Control><Shift>F")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "find-clear" "<Control><Shift>J")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "find-next" "<Control><Shift>G")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "find-previous" "<Control><Shift>H")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "full-screen" "F11")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "help" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "move-tab-left" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "move-tab-right" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "new-profile" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "new-tab" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "new-window" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "next-tab" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "paste" "<Ctrl><Shift>v")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "prev-tab" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "reset" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "reset-and-clear" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "save-contents" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-1"  "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-2"  "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-3"  "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-4"  "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-5"  "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-6"  "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-7"  "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-8"  "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-9"  "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-10" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-11" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-12" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-13" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-14" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-15" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-16" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-17" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-18" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-19" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-20" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-21" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-22" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-23" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-24" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-25" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-26" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-27" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-28" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-29" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-30" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-31" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-32" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-33" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-34" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-35" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "switch-to-tab-35" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "toggle-menubar" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "zoom-in" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "zoom-normal" "disabled")
        (gsettings "org.gnome.Terminal.Legacy.Keybindings:/" "zoom-out" "disabled")))


(gnome terminal solarized dark
   (and (git clone "git://github.com/sigurdga/gnome-terminal-colors-solarized.git" [join [env:HOME] "/src/solarized/gnome-terminal"])
        (change [join [env:HOME] "/src/solarized/gnome-terminal/install.sh"] "-s" "dark" "-p" "solarized")
        (downloaded http "https://raw.githubusercontent.com/seebi/dircolors-solarized/master/dircolors.ansi-dark" [join [env:HOME] "/.dircolors"])))

(gnome terminal solarized light
   (and (git clone "git://github.com/sigurdga/gnome-terminal-colors-solarized.git" [join [env:HOME] "/src/solarized/gnome-terminal"])
        (change [join [env:HOME] "/src/solarized/gnome-terminal/install.sh"] "-s" "light" "-p" "solarized")
        (downloaded http "https://raw.githubusercontent.com/seebi/dircolors-solarized/master/dircolors.ansi-light" [join [env:HOME] "/.dircolors"])))

(gnome folders
   (and (copy template "user-dirs.dirs" [join [env:HOME] "/.config/user-dirs.dirs"])
        (ensure dir [join [env:HOME] "/downloads"])
        (ensure dir [join [env:HOME] "/doc/templates"])
        (ensure dir [join [env:HOME] "/public"])
        (ensure dir [join [env:HOME] "/media/music"])
        (ensure dir [join [env:HOME] "/media/pictures"])
        (ensure dir [join [env:HOME] "/media/videos"])
        (ensure dir [join [env:HOME] "/tmp"])
        (delete dir [join [env:HOME] "/Music"])
        (delete dir [join [env:HOME] "/Templates"])
        (delete dir [join [env:HOME] "/Desktop"])
        (delete dir [join [env:HOME] "/Documents"])
        (delete dir [join [env:HOME] "/Downloads"])
        (delete dir [join [env:HOME] "/Pictures"])
        (delete dir [join [env:HOME] "/Public"])
        (delete dir [join [env:HOME] "/Videos"])))




########


(gsettings
   (change "gsettings" "set" [arg:0] [arg:1] [arg:2]))

(dconf
   (pipe (test "cat" [join [var:workdir] "/templates"])
         (change "dconf" "load" "/")))
