(idea ready (and
   (java installed)
   (idea installed)))

(java installed
   (installed "java-1.8.0-openjdk-devel"))

(idea installed
   (or (dir exists [join [env:HOME] "/install/idea/idea-IC-139.225.3"])
       (and (ensure dir [join [env:HOME] "/install/idea"])
            (downloaded http
               "http://download-cf.jetbrains.com/idea/ideaIC-14.0.1.tar.gz"
               [join [env:HOME] "/install/idea/ideaIC-14.0.1.tar.gz"])
            (indir [join [env:HOME] "/install/idea"]
               (change "tar" "xzf" "ideaIC-14.0.1.tar.gz"))
            (copy template "jetbrains-idea.desktop" [join [env:HOME] "/.local/share/applications/jetbrains-idea.desktop"]))))
