(git clone 
   (or (and (git repo present [arg:1]) (git repo uptodate [arg:1]))
      (change "git" "clone" [arg:0] [arg:1]))))

(git repo present
    (indir [arg:0] (test "test" "-d" ".git")))

(git repo uptodate
    (indir [arg:0]
       (and  (test "git" "fetch" "--all")
             (or (test "git" "diff" "--quiet" "HEAD@{upstream}")
                 (change "git" "reset" "--hard" "HEAD@{upstream}")))))

